version: '3.8'

services:
  ong-backend-app:
    image: ong-backend
    container_name: ong-backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    environment:
      - JAVA_OPTS=-Xmx1g -Xms1g
      - SPRING_PROFILES_ACTIVE=prod
      - AWS_ACCESS_KEY_ID=teste
      - AWS_SECRET_ACCESS_KEY=teste
      - AWS_REGION=us-east-2
      - AWS_ENDPOINT_URL=https://localhost.localstack.cloud:4566
